/* Wildcard Selector */
* {
  padding: 0;
  box-sizing: border-box;
  
}

/* Body, Input, Textarea, Select, Button Selectors */
body,
input,
textarea,
select,
button {
  color: rgb(79, 70, 70);
  font: 400 1rem "Roboto", sans-serif;
  background-color: #e1ad01;
}

/* Button Selector */
button {
  cursor: pointer;
}

/* Achor Tag Selector */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Main Element Selector */
main {
  width: 80%;
  margin: 0 auto;
  margin-top: .5rem;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#pokemonLogo {
  margin-bottom: .5rem;
  /*width: 200px;*/
  height: 100px;
  margin-top: .5rem;
  margin-bottom: -5rem;
  z-index: 1;
}

#pokemonPicture {
  margin-bottom: .5rem;
  margin-top: 3rem;
  width: 450px;
  height: 250px;
  margin-bottom: -2rem;
}

/* searchBox ID Selector */
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* searchBox Input ID Selector */
.searchBox input {
  border-radius: 8px 0 0 8px;
  border: 0;
  outline: none;
  height: 36px;
  padding: 4px 16px;
  background-color: white;
  color: #000;
}

/* searchBox button Selector */
.searchBox button {
  border-radius: 0 8px 8px 0;
  border: 0;
  height: 36px;
  padding: 4px 16px;
  background-color: white;
  margin-top: .675em;
  color: #000;
}

/* pokemonBox ID Selector */
.pokemonBox {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

/* pokemonBox image ID Selector */
.pokemonBox img {
  width: 200px;
}

/* pokemonBox p ID Selector */
.pokemonBox p {
  margin-top: 1rem;
}

/* pokemonBox ID Selectors */
.pokemonBox .pokemonInfos {
  padding: 2rem;
}


@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

.h1-container {
  display: flex;
  justify-content: center;
}


h1 {
  display: flex;
	letter-spacing: 3px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
  border: 4px solid rgb(79, 70, 70);
  border-radius: 5px;
  box-sizing: border-box;
  width: 200px;
  color: rgb(79, 70, 70);
  background-color: #f3ce53;

}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.pokemon {
	background-color: rgb(0, 0, 0);
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}


h2 {
  font-size: 3em;
  margin: 0px;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}



.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  color: #212121;
}

input {
  background-color: whitesmoke;
  border-radius: 3px;
  border-width: 1px;
  color: #5f6368;
  font-size: 1.1em;
  height: 45px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  max-width: 100%;
  padding: 8px 8px 8px 8px;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease, ease;
  vertical-align: middle;
  width: 100%;
}

.card {
  display: block;
  background-color:#e1ad01;;
  border: 3px solid #000000;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 40px auto;
  padding: 20px;
  width: 60vw;
}

.card::after {
  content: " ";
  display: block;
  clear: both;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}



body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  background-color: black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

h2 {
  text-align: center;
}

li {
  list-style: none;
  margin-top: 20px;
  display: block;
}



label {
  color: #212121;
}

select {
  font-size: 30px;
  width: 100%;
  margin-top: 10px;
  background-color: whitesmoke;
}

.card {
  background-color:	#FFFFE0;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: 40px 20px;
  padding: 20px;
  width: 40vw;
  float: left;
}

.card::after {
  content: " ";
  display: block;
  clear: both;
}

#msg {
  display: block;
  min-height: 100px;
  width: 100%;
  margin-top: 10px;
  background-color: whitesmoke;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 80vw;
  }

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}






